{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
<div class="container mt-5">
  <div class="row">
    <!-- Main content -->
    <div class="col-md-8">
      <h1 class="mb-4">{{ post.title }}</h1>

      {% if post.image %}
        <img src="{{ post.image }}" alt="{{ post.title }}" class="img-fluid mb-4 rounded">
      {% endif %}

      <p class="mb-4">{{ post.content }}</p>

      <div class="d-flex gap-2 align-end">
        <a href="{{ path('app_post_index') }}" class="btn btn-secondary p-2">{{'Back to list'| trans}}</a>
        {% if app.user != null and (app.user == post.author or 'ROLE_ADMIN' in app.user.roles) %}
          <a href="{{ path('app_post_edit', { ref: post.ref }) }}" class="btn btn-primary">
            {{ ux_icon("mdi:pencil", { class: "h-1 w-1" }) }}
            {{'Edit' |trans}}
          </a>
          {{ include("post/_delete_form.html.twig") }}
        {% endif %}
      </div>
    </div>

    <!-- Sidebar -->
    <aside class="col-md-4">
      <div class="card">
        <div class="card-body text-center">
          <img src="https://avatar.iran.liara.run/public/{{ post.author.id }}"
               alt="{{ post.author.nickname }}" 
               class="rounded-circle mb-3" 
               style="width: 100px; height: 100px; object-fit: cover;">
          <h5 class="card-title">{{ post.author.nickname }}</h5>
        </div>
      </div>

      <div class="mt-4">
        <h5>Other Posts by {{ post.author.nickname }}</h5>
        <ul class="list-group">
          {% for otherPost in post.author.posts %}
            <li class="list-group-item">
              <a href="{{ path('app_post_show', { ref: otherPost.ref }) }}">
                {{ otherPost.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </aside>
  </div>
</div>
{% endblock %}

